select{
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    border: none;
}
.footer{
    font-size: 10px;
    height: 140px;
    background-color: rgb(26, 74, 168);
    position: relative;
    color: #fff;
    overflow:hidden;
    
}
.footer .footer_img {
    position: absolute;
    left: 300px;
    top: 40px;
}
.footer_text{
    margin-top: 20px;
    text-align: center;
}
/* 设置固定定位的二维码 */
.logo_erwei{
    position: fixed;
    top: 50px;
    right:0;
}
.logo_erwei01{
    position: absolute;
    right: 150px;
    bottom: 20px;
}