*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    color: #000;
}
body{
    font-family: "微软雅黑";
	font-size: 14px;
	color: #000;
    background-image: url(../images/bodybg.jpg);
    
}
ul,li{
    list-style: none;
}

.header{
    text-align: center;
}
.nav{
    background-color: rgb(28, 75, 169);
    height: 40px; 
}
.nav >ul{
    width: 1200px;
    margin: 0 auto;
}
.nav >ul li{
    display: inline-block; 
}
.nav >ul li a{
    margin-left: 55px;
    text-decoration:none;
    color: aliceblue;
    line-height: 40px;
}
.nav ul li a:hover{
    color: yellow;
}
.page{
    width: 1200px;
    margin: 0 auto;
}
.page>ul{
    margin:10px 0px;
}
.page>ul>li{
    list-style-type: disc;
    display: inline-block;
    margin-left: 20px;
    
}
.page>ul li a{
    color: red;
    text-decoration: none;
}
.page .left_top{
    float: left;
    padding: 10px;
    width: 440px;
    height: 330px;
    background-color:aliceblue;
}
.page .right_top{
    float: left;
    height: 350px;
    width: 700px;
    margin-left: 40px;
    /* background-color: yellow; */
}
.right_top_top{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 220px;
}
.right_top .right_top_top .box{
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    height: 35px;
    
}
.box_top{
    display: inline-block;
    line-height: 27px;
    width: 107px;
    height: 27px;
    background-image: url(../images/head1.png);
    color: aliceblue;
    
}
.box span{
    color: rgb(115, 115, 115);
}
.img_box{
    margin-top: 15px;
    text-align: center;
    float: left;

}
.img_box a{
    color: rgb(153, 0, 0);
    text-decoration: none;
}
#main_box{
    margin:0px 20px;
   float: left;
   position: relative;
   width: 400px;   
}
#main_box ul li{
    margin-left: 10px;
    text-indent: -5px;
    color: blue;
   margin-top: 10px;
   list-style-type: disc;
    
}
#main_box ul li a:hover{
    color: rgb(28, 75, 169);
}
.data{
    font-size: 10px;
    color: gray;
    position: absolute;
    right: 0px;
}
.right_top_bottom{
    margin-top: 15px;
}
.right_top_bottom img{
    width: 100%;
    height: 100%;
}
.clear{
    clear: both;
}
.page .left_bottom{
    position: relative;
    padding: 10px;
    margin-top: 15px;
    float: left;
    width: 440px;
    height:250px;
    background-color:rgb(255, 255, 255); 
}
.page .left_bottom .left_bottom_img{
    height: 40px;
    /* background-color: red; */
    border-bottom: 2px solid rgb(26, 74, 167);
}
.page .left_bottom .left_bottom_img p{
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    background-color: rgb(26, 74, 167);
    
}

#date02 a{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 10px;
    color: grey;
}
#date02 a:hover{
    color: red;
}
.left_bottom_main{
    margin-top: 10px;
    margin-left: 10px;
    
}
.left_bottom_main ul li{
    margin-top: 10px;
    position: relative;
}
.left_bottom_main ul li a:hover{
    color: rgb(28, 75, 169);
}
#data03{
    font-size: 10px;
    position: absolute;
    right: 10px;
    color: rgb(160, 160, 160);
}
.right_bottom{
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
    float: left;
    height: 250px;
    width: 680px;
    /* background-color: red; */
    background-color: #fff;
    
    
}
.right_bottom .box{
    border-bottom: 1px solid gray;
    margin-top: 10px;
    
}
.right_bottom .box .box_top{
    margin-bottom: 10px;
}
.right_bottom .box_bottom .img_box{
    margin-top: 30px;
}
/* 遮罩层开始 */
.main_nav{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    position: relative;
}
.main_nav .box_zz01 {
    float: left;
    position: relative;
}
.mask{
    position: absolute;
    top:0;
    left: 0;
    width: 260px;
    height: 80px;
    background: rgba(101, 101, 101, 0.1);
    opacity: 0;
}
.main_nav .box_zz01 a:hover .mask{
    opacity: 1;
}
.main_nav .box_zz02{
    margin-left: 20px;
    float: left;
    height: 80px;
    width: 180px;
    /* background-color: red; */
}
.box_zz02_bottom{
    position: relative;
    margin-top: 5px;
}
.box_zz02_top{
    position: relative;
}
.mask02{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 35px;
    background: rgba(101, 101, 101, 0.1);
    opacity: 0;
}
.box_zz02 .box_zz02_top a:hover .mask02{
    opacity: 1;
}
.box_zz02 .box_zz02_bottom a:hover .mask02{
    opacity: 1;
}
.box_zz03{
    float: left;
    height: 80px;
    margin-left: 20px;
    position: relative;
}
.mask03{
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 80px;
    background: rgba(101, 101, 101, 0.1);
    opacity: 0;
}
.box_zz03 a:hover .mask03{
    opacity: 1;
}
/* 遮罩层结束 */
.main_banner_left{
    float: left;
    width: 374px;
    height: 118px;
    background-color: #fff;
    padding-left: 10px;
    border-left: 3px solid rgb(0, 24, 255);
}
.main_banner_left h1{
    font-weight: 400;
    color: rgb(0, 24, 255);
}
.main_banner_left ul{
    margin-top: 10px;
}
.main_banner_left ul li{
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
.main_banner_left ul li a{
    color: grey;
}
.main_banner_left ul li a:hover{
    color: rgb(28, 75, 169);
}
#a01{
    margin-left: 19.5px;
    margin-right: 19.5px;
}
.main_radio{
    height: 120px;
    margin-top: 20px;
    background-color: #fff;
    text-align: center;
    /* position: relative; */
}
.main_radio img{
    float: left;
}
.radio_img{
    margin: 30px ;
    width: 120px;
    height: 60px;
    float: left;
    margin-left: 15px;
}
.main_radio .radio_img img,.main_radio .radio_img2 img,.main_radio .radio_img3 img,.main_radio .radio_img4 img{
    cursor: pointer;
    transition: all 0.6s;
}
.main_radio .radio_img img:hover,.main_radio .radio_img2 img:hover,.main_radio .radio_img3 img:hover,.main_radio .radio_img4 img:hover{
  transform: scale(1.1);
}
.radio_img2{
    float: left;
    margin-top: 15px;
    margin-left: 145px;
}
.radio_img3,.radio_img4{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}
